absl-py==0.6.0
alabaster==0.7.12
allennlp==0.7.2
appnope==0.1.0
asn1crypto==0.24.0
astor==0.7.1
atomicwrites==1.2.1
attrs==18.2.0
autopep8==1.4.2
aws-xray-sdk==0.95
awscli==1.16.41
Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.6.3
bleach==3.0.2
boto==2.49.0
boto3==1.9.31
botocore==1.12.31
bs4==0.0.1
certifi==2018.10.15
cffi==1.11.2
chardet==3.0.4
Click==7.0
colorama==0.3.9
conllu==0.11
cookies==2.2.1
cryptography==2.3.1
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
decorator==4.3.0
defusedxml==0.5.0
dill==0.2.8.2
docker==3.5.1
docker-pycreds==0.3.0
docutils==0.14
ecdsa==0.13
editdistance==0.5.2
elasticsearch==6.3.1
en-core-web-sm==2.0.0
entrypoints==0.2.3
flaky==3.4.0
Flask==1.0.2
Flask-Cors==3.0.6
ftfy==5.5.0
future==0.16.0
gast==0.2.0
gevent==1.3.6
greenlet==0.4.15
grpcio==1.16.0
h5py==2.8.0
idna==2.7
imagesize==1.1.0
ipykernel==4.10.0
ipython==7.0.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
ItsDangerous==1.0.0
jedi==0.13.1
Jinja2==2.10
jmespath==0.9.3
jsondiff==1.1.1
jsonnet==0.10.0
jsonpickle==1.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
MarkupSafe==1.0
matplotlib==2.2.3
mistune==0.8.4
mock==2.0.0
more-itertools==4.3.0
moto==1.3.4
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
nbconvert==5.4.0
nbformat==4.4.0
neo4j-driver==1.6.2
neotime==1.7.1
networkx==2.2
nltk==3.3
notebook==5.7.0
numpy==1.15.3
numpydoc==0.8.0
overrides==1.9
packaging==18.0
pandas==0.23.4
pandocfilters==1.4.2
parsimonious==0.8.0
parso==0.3.1
pbr==5.1.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.0.0
plac==0.9.6
pluggy==0.8.0
preshed==2.0.1
prometheus-client==0.4.2
prompt-toolkit==2.0.7
protobuf==3.6.1
ptyprocess==0.6.0
py==1.7.0
py2neo==4.1.0
pyaml==17.12.1
pyasn1==0.4.4
pycodestyle==2.4.0
pycparser==2.19
pycryptodome==3.6.6
Pygments==2.2.0
Pympler==0.6
pyparsing==2.2.2
pytest==3.9.2
pytest-pythonpath==0.7.3
python-dateutil==2.7.4
python-jose==2.0.2
pytorch-pretrained-bert==0.1.2
pytz==2017.3
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.2
regex==2018.1.10
requests==2.20.0
responses==0.10.2
rsa==3.4.2
s3transfer==0.1.13
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
spacy==2.0.16
Sphinx==1.8.1
sphinxcontrib-websupport==1.1.0
sqlparse==0.2.4
tensorboard==1.9.0
tensorboardX==1.2
tensorflow==1.12.2
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
text-unidecode==1.2
thinc==6.12.0
toolz==0.9.0
torch==0.4.1
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
ujson==1.35
Unidecode==1.0.22
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.53.0
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wrapt==1.10.11
xmltodict==0.11.0
